PORT=post number where server is running
MONGO_URL=mongoose connection string
MONGO_PASSWORD=mongoose string password used in mongoose string
SECRET=secret for jwt
EXPIRY=cookie expiry
FOLDER_NAME=cloudinary folder name where image are going to store
CLOUDINARY_CLOUD_NAME=cloudinary username
CLOUDINARY_API_KEY=cloudinary api key
CLOUDINARY_API_SECRET=cloudinary secret key
FRONTEND_URL1=url where frontend is running
FRONTEND_URL2=url where frontend is running
FRONTEND_URL3=url where frontend is running
SMTP_HOST=smtp host service name
SMTP_PORT=smtp port name
SMTP_USERNAME=email from which you are sending mail
SMTP_PASSWORD=password
SMTP_FROM_EMAIL=email from which you are sending mail
RAZORPAY_KEY_ID=razor pay authentication key
RAZORPAY_SECRET=razor pay secret
RAZORPAY_PLAN_ID=
SERVER_URL=server url where server is running
